*{
   margin: 0%;
   padding:0%;
}
.background{
   height: 100vh;
   width: 100%;
   background-color:pink ;
}
.first{
   height: 21%;
   width: 21%;
   background: linear-gradient(to right, purple, purple);
   display: flex;
   justify-content: center;
   align-items: center;
}
.